<!doctype html>
<html>

<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Club Factory | Lower Price, Better Service</title>
    <meta name="keywords" content="Club Factory">
    <meta name="description" content="Club Factory">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/auth.css">

    <script>
        window.onload = function() {
            notify_reset_passsword();
        }
    </script>
</head>

<body>
    <div class="reset_password_page">
        <form class="signup_form" role="form" method="post">
            <input id="reset_token" value="{{user_info['token']}}" type="hidden">  
            <fieldset class="form-group">
                <label for="signupEmail">Your Email</label>
                <input type="email" class="form-control" id="signupEmail" name="email" required="required" autofocus="autofocus" value="{{user_info['email']}}" disabled/>
            </fieldset>
            <fieldset class="form-group">
                <label for="signupEmail">Your Name</label>
                <input type="text" class="form-control" id="signupName" name="name" required="required" placeholder="e.g. John Doe" value="{{user_info['name']}}" disabled/>
            </fieldset>
            <fieldset class="form-group">
                <label for="signupPassword">Password</label>
                <input type="password" class="form-control" id="signupPassword1" name="password" required="required"/>
                <input type="text" class="form-control" id="signupPassword2" style="display:none;">
                <div class="password_div">
                    <label class="checkbox-inline"><input type="checkbox">Show
                        Password</label>
                </div>
            </fieldset>

            <div id="confirm_reset_btn" class="btn btn-primary signup_btn">Confirm</div>
        </form>
    </div>

    <script src="/js/common/jquery-2.2.4.min.js"></script>
    <script src="/js/common/bootstrap.min.js"></script>
    <script src="/js/common/purl.js"></script>
    <script src="/js/common/underscore-min.js"></script>
    <script src="/js/common/util.js"></script>
    <script src="/js/auth.js"></script>
</body>
</html>
