<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Club Factory | Lower Price, Better Service</title>
    <meta name="keywords" content="Club Factory">
    <meta name="description" content="Club Factory">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/trade_stripe.css">
    <script src="https://js.stripe.com/v2/"></script>
</head>

<body>
	##{% include "../ga/body_top_template.html" %}

<div class="stripe">
    <!--
    <div class="layoutSubview" style="z-index: 100; height: 136px; transform: translateY(0px); opacity: 1; transition: none;">
        <div class="noDescription" style="transform: translateY(0px); transition: none;">
            <div class="content">
                <div class="background">
                    <div class="realBackground" style="background: rgb(43, 43, 43);"/>
                </div>
                <div class="image" style="opacity: 1; transform: scale(1); transition: none;">
                    <img src="/img/ff_circle_logo.png"/>
                </div>
                <div class="title">
                    <h1>Club Factory</h1>
                </div>
            </div>
        </div>
    </div>
    -->


    <form novalidate="" autocomplete="off" method="POST" id="new-payment-form">
        ##<input type="hidden" id="payment_amount" name="amount" value="{{payment_info['amount']}}" />
        <input type="hidden" id="payment_publishable_key" name="key" value="$!{payment_publishable_key}" />
        ##<input type="hidden" id="payment_item_name" name="item_name" value="{{payment_info['item_name']}}" />
        ##<input type="hidden" id="payment_item_number" name="item_number" value="{{payment_info['item_number']}}" />
        <input type="hidden" id="payment_order_id" name="order_id" value="$!{order.orderNumber}" />
        <div id="error_msg" class="payment-errors" style="display: none"></div>
        <div class="wrap">
            <div class="form-group">
                <div class="svg icon" style="width: 34px; height: 34px;">
                    <svg version="1.1" viewBox="0 0 68 68" width="34" height="34" focusable="false">
                        <g fill-rule="evenodd">
                            <path d="M3.00069463,2 C2.44802625,2 2,2.44494629 2,2.99339768 L2,19.0066023 C2,19.5552407 2.44746922,20 3.00069463,20 L24.9993054,20 C25.5519738,20 26,19.5550537 26,19.0066023 L26,2.99339768 C26,2.44475929 25.5525308,2 24.9993054,2 Z M2.99649048,0 L25.0035095,0 C26.6495018,0 28,1.3437667 28,3.00138694 L28,18.9986131 C28,20.6569187 26.6584255,22 25.0035095,22 L2.99649048,22 C1.3504982,22 0,20.6562333 0,18.9986131 L0,3.00138694 C0,1.34308127 1.34157448,0 2.99649048,0 Z M20,16 L24,16 L24,18 L20,18 Z M14,16 L18,16 L18,18 L14,18 Z M2,5 L2,8 L26,8 L26,5 L2,5 Z M2,5"
                                  style="fill:#eb6657" transform="translate(18,23)"></path>
                        </g>
                    </svg>
                </div>
                <label for="cc-number" class="control-label">Card</label>
                <small class="text-muted"><span id="card-type"/></small>
                #set($placehold="•••• •••• •••• ••••")
				<input id="cc-number" type="tel" class="input-block-level" placeholder="$!{placehold}" autocomplete="off"/>
            </div>
            <div class="form-group">
                <div class="svg icon" style="width: 34px; height: 34px;">
                    <svg version="1.1" viewBox="0 0 68 68" width="34" height="34" focusable="false">
                        <g fill-rule="evenodd">
                            <path d="M7,0 L9,0 L9,2 L7,2 Z M2.99649048,2 L7,2 L7,4 L9,4 L9,2 L19,2 L19,4 L21,4 L21,2 L25.0035095,2 C26.6495018,2 28,3.33915679 28,4.99109042 L28,23.0089096 C28,24.6582294 26.6584255,26 25.0035095,26 L2.99649048,26 C1.3504982,26 0,24.6608432 0,23.0089096 L0,4.99109042 C0,3.34177063 1.34157448,2 2.99649048,2 Z M19,0 L21,0 L21,2 L19,2 Z M2,7 L2,23.0000398 C2,23.5523026 2.44746922,24 3.00069463,24 L24.9993054,24 C25.5519738,24 26,23.5452911 26,23.0000398 L26,7 Z M2,7"
                                  style="fill:#eb6657" transform="translate(18,22)"></path>
                        </g>
                    </svg>
                </div>
                <label for="cc-exp" class="control-label">Expiry</label>
				<input id="cc-exp" type="tel" class="input-block-level" autocomplete="off" placeholder="MM / YY"/>
            </div>
            <div class="form-group">
                <div class="svg icon" style="width: 34px; height: 34px;">
                    <svg version="1.1" viewBox="0 0 68 68" width="34" height="34" focusable="false">
                        <g fill-rule="evenodd">
                            <path d="M12,0 C15.8581267,0 19,3.1329459 19,6.99763052 L19,10 L21.0089096,10 C22.6582294,10 24,11.3398057 24,12.9925398 L24,25.0074602 C24,26.6470745 22.6608432,28 21.0089096,28 L2.99109042,28 C1.34177063,28 0,26.6601943 0,25.0074602 L0,12.9925398 C0,11.3529255 1.33915679,10 2.99109042,10 L5,10 L5,6.99763052 C5,3.13743749 8.13400675,0 12,0 Z M12,2 C9.23857625,2 7,4.23908381 7,6.99833453 L7,10 L17,10 L17,6.99833453 C17,4.23783059 14.7558048,2 12,2 Z M2.99180311,12 C2.44404538,12 2,12.4499488 2,13.0068455 L2,24.9931545 C2,25.5492199 2.45530558,26 2.99180311,26 L21.0081969,26 C21.5559546,26 22,25.5500512 22,24.9931545 L22,13.0068455 C22,12.4507801 21.5446944,12 21.0081969,12 Z M2.99180311,12"
                                  style="fill:#eb6657" transform="translate(20,20)"></path>
                        </g>
                    </svg>
                </div>
                <label for="cc-cvc" class="control-label">CVC</label>
				<input id="cc-cvc" type="tel" class="input-block-level" autocomplete="off" placeholder="123" />
            </div>
        </form>

        #if (${isUs} == false)
	        <button type="submit" id="btn-normal" class="btn btn-lg btn-primary btn-normal">
	            <span class="iconA"></span>Pay USD $math.roundTo(2, ${order.amount}) ($!{currency} $math.roundTo(2, $localAmountTotal))
	        </button>
    	#else
	        <button type="submit" id="btn-normal" class="btn btn-lg btn-primary btn-normal">
	            <span class="iconA"></span>Pay $math.roundTo(2, ${order.amount})
	        </button>
        #end
        <button type="submit" id="btn-loading" class="btn btn-lg btn-primary btn-loading">
            <img src="/img/loading.gif" style="height: 35px"></img></button>
        <button type="submit" id="btn-complete" class="btn btn-lg btn-primary btn-complete">
            <span class="iconA"></span>
        </button>
    </div>
</div>

    <script src="/js/common/jquery-2.2.4.min.js"></script>
    <script src="/js/common/js.cookie.js"></script>
    <script src="/js/common/jquery.payment.js"></script>
    <script src="/js/common/util.js"></script>
    <script src="/js/common/underscore-min.js"></script>
    <script src="/js/trade_stripe.js"></script>

	##{% include "../ga/body_bottom_template.html" %}
</body>

</html>
