<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.subaru.maneki.dao.PropNameDao">
	<resultMap id="BaseResultMap" type="com.subaru.maneki.model.PropName">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
		<result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result column="GMT_UPDATE" property="gmtUpdate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, PARENT_ID, GMT_CREATE, GMT_UPDATE
	</sql>

	<select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from product_prop_name
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByParentAndName" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from product_prop_name
		where PARENT_ID = #{parentId} and NAME=#{name}
	</select>

	<select id="selectByParent" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from product_prop_name
		where PARENT_ID = #{parentId}
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from product_prop_name
		where
		ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.subaru.maneki.model.PropName"
		keyProperty="id" useGeneratedKeys="true">
		insert into product_prop_name
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="parentId != null">
				PARENT_ID,
			</if>
			<if test="gmtCreate != null">
				GMT_CREATE,
			</if>
			<if test="gmtUpdate != null">
				GMT_UPDATE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtUpdate != null">
				#{gmtUpdate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.subaru.maneki.model.PropName">
		update product_prop_name
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				PARENT_ID = #{parentId,jdbcType=INTEGER},
			</if>
			<if test="gmtCreate != null">
				GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP}
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>